* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
header a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto 5%;
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  padding: 20px 5%;
  background-color: rgba(10, 35, 59, 0.8);
}

#logo {
  font-weight: bold;
  font-size: 1.7rem;
  align-items: center;
  display: flex;
}
#logo img {
  width: 50px;
}

#logo a {
  color: #ff7f00;
}

#navbar .home-active {
  color: #ff7f00;
  background-color: #fff;
  border-radius: 20px;
}

#navbar {
  display: flex;
}

#navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
}

#navbar a:hover {
  color: #ff7f00;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.4s;
}
#contact {
  position: relative;
  width: 90%;
  margin: auto 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background-image: url("/image/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 0;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 35, 59, 0.8);
  z-index: -1;
}
/* link section */

.home-page-contact {
  display: flex;
  justify-content: center;
  z-index: 6;
  font-size: 1rem;
}
.home-page-contact .active a {
  color: #ff7f00;
}

.home-page-contact li a {
  text-decoration: none;
  color: #fff;
}

.contact {
  font-size: 50px;
}
/* .................................. */
/* ............................................... */
/* contact section */
.title-group {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.title-group h1 {
  font-weight: bold;
}
.title {
  color: #ff7f00;
  font-family: ASvadek Ribbon Plus;
  font-size: 1.5rem;
  font-weight: 400;
}
#contact-map {
  display: flex;
  margin: auto 5%;
  gap: 2rem;
}
iframe {
  width: 100%;
  height: 350px;
  border: 3px solid rgba(10, 35, 59, 0.8);
  margin-top: 10px;
  flex: 1;
  border-radius: 3px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.contact-info div {
  text-align: center;
}
.contact-info div p {
  color: #ff7f00;
  font-family: ASvadek Ribbon Plus;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  height: auto;
}
.contact-form .subject {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 49%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.contact-form textarea {
  width: 100%;
  height: 100px;
}
.contact-form .sent-sms {
  width: 100%;
  padding: 12px;
  background: #ff7f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.contact-form .sent-sms:hover {
  background-color: rgba(10, 35, 59, 0.8);
  transition: 0.5s;
}

/* .................................... */
/* footer section */

.footer {
  background-color: rgb(10, 35, 59, 0.8);
  color: #fff;
  padding: 30px 0;
  margin-top: 6rem;
  width: 90%;
  margin: auto 5%;
  margin-top: 5rem;
}

.footer-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-item h3 {
  color: #ff7f00;
  margin-bottom: 15px;
  font-family: ASvadek Ribbon Plus;
}

.footer-item ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-item ul li {
  margin-bottom: 10px;
}

.footer-item p {
  margin-bottom: 15px;
}

.newsletter .btn3 {
  padding: 10px 15px;
  background-color: #ff7f00;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.newsletter .btn3:hover {
  background-color: rgba(10, 35, 59, 0.8);
  transition: 0.2s;
}

.signup {
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
}
#email {
  width: 15rem;
  height: 35px;
  border: none;
  outline: none;
}

.newsletter input {
  padding: 10px;
  border: none;
  margin-right: 5px;
}

.social-icon ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon ul li {
  list-style: none;
  margin-left: 5px;
}
.social-icon ul li i {
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  line-height: 40px;
  text-align: center;
  display: block;
  cursor: pointer;
}
.social-icon ul li i:hover {
  color: #ff7f00;
  transition: all 0.5s;
}

#copyright {
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

/* ..................................... */

.hamburger {
  display: none;
}
/* responsive  */
@media only screen and (max-width: 1460px) {
  body {
    background-color: #ff7f00;
  }
  header {
    padding: 10px 2%;
  }

  #navbar a {
    padding: 5px 10px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1070px) {
  body {
    background-color: red;
  }

  #navbar a {
    padding: 5px 10px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 1010px) {
  body {
    background-color: blue;
  }
  #navbar a {
    padding: 5px 10px;
    font-size: 13px;
  }
  #logo {
    font-size: 23px;
  }
  #logo img {
    width: 37px;
  }
}

@media only screen and (max-width: 900px) {
  body {
    background-color: yellow;
  }
  #logo {
    font-size: 19px;
  }
  #logo img {
    width: 29px;
  }

  #navbar a {
    padding: 3px 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 850px) {
  body {
    background-color: greenyellow;
  }

  /* Hamburger Menu */
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger div {
    color: #ff7f00;
    font-size: 30px;
  }

  /* Navbar */
  #navbar {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    background-color: rgba(10, 35, 59, 0.9);
    text-align: center;
    padding: 10px 0;
  }

  #navbar li {
    margin: 25px;
  }

  #navbar li a {
    font-size: 14px;
    padding: 8px;
  }

  .contact-form {
    flex-direction: column;
    flex: 1;
  }
  .contact-form input {
    width: 100%;
  }

  .footer-item p {
    font-size: 15px;
  }
  #copyright {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: turquoise;
  }
  #contact-map {
    display: block;
  }
  .contact-info div {
    font-size: 10px;
  }
  /* Footer */
  .footer-item p {
    font-size: 14px;
  }

  #copyright {
    font-size: 9px;
  }
}
